.news-form {

}

.news-form label {
    color: #ff9933;
}

.btn.btn-primary {
    background-color: #ABD73E;
    border-color: #ABD73E;
}

.news-form .form-group,
.news-form  .input-group {
    padding: 1rem 0;
}

.news-form .input-group-prepend .input-group-text {
    background-color: #ABD73E;
    border-color: #ABD73E;
    color: #fff;
}

.news-form .success {
    color: #6a9;
    font-weight: bold;
}

.news-form .failed {
    color: #e4606d;
    font-weight: bold;
}

.news-form .message-container {
    padding: 1rem 0;
}

@media screen and (max-width: 575px) {
    .news-form {
        padding: 0 1rem;
    }
}