.news-form {

}

.news-form label {
    color: #ff9933;
}

.btn.btn-primary {
    background-color: #ABD73E;
    border-color: #ABD73E;
}

.news-form .form-group,
.news-form  .input-group {
    padding: 1rem 0;
}

.news-form .input-group-prepend .input-group-text {
    background-color: #ABD73E;
    border-color: #ABD73E;
    color: #fff;
}

.news-form .success {
    color: #6a9;
    font-weight: bold;
}

.news-form .failed {
    color: #e4606d;
    font-weight: bold;
}

.news-form .message-container {
    padding: 1rem 0;
}

.news-form__edition {
    min-height: 32px;
    width: 100%;
}

.news-form__button {
    padding: .5rem .8rem;
    background-color: #f3f3f3;
    color: #0a0a0a;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #c3c3c3;
    cursor: pointer;
}

.news-form__button.italic {
    padding: .5rem 1rem;
}

@media screen and (max-width: 575px) {
    .news-form {
        padding: 0 1rem;
    }
}